* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    line-height: 2rem;
}   

header {
    height: 70px;
    background-color: #068DA9;
    color: #ECF8F9;
    border-bottom: 3px solid #E55807;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#left-header {
    padding-left: 30px;
}
#left-header h1 a {
    color: #ECF8F9;
    text-decoration: none;
    font-weight: bolder;
    transition: .5s;
}

#left-header h1 a:hover {
    color: #E55807;
    text-shadow: 2px 1px 5px #ECF8F9;
}

#left-header span {
    color: #E55807;
    text-shadow: 2px 1px 5px #ECF8F9;
}

#left-header span:hover {
    color: #ECF8F9;
    text-shadow: 2px 1px 5px #E55807;
}
nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding-right: 30px;
}

nav ul li {
    padding-left: 30px;
}

nav ul li a:link {
    text-decoration: none;
    color: #ECF8F9;
}

nav ul li a:visited {
    color: #ffff;
}

nav ul li a:hover {
    text-decoration: underline overline;
    text-underline-offset: 8px;
}

nav ul li a:active {
    color: #7E1717;
}

.mobile-menu {
    display: none;
    padding-right: 30px;
    font-weight: bolder;
}

.mobile-menu span {
    color: #E55807;
    font-size:large;
}
.mobile-menu:hover {
    cursor: pointer;
}
#check {
    display: none;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -350px;
    width: 350px;
    background-color: #068DA9;
    transition: .3s;
    z-index: 9999;
}


.sidebar .get {
    padding: 10px 0 10px 22px;
    background-color: #cac0bc;
    color: #068DA9;
    font-style: italic;
}

.sidebar .get a {
    text-decoration: none;
    color: #068DA9;
}

.close {
    background-color: #ffff;
}

.close img:hover {
    transform: scale(.9);
    transition: .3s;
}
.sidebar a img{
    width: 80px;
    padding-left: 135px;
}
.sidebar ul li a {
    color: #ECF8F9;
    text-decoration: none;
}

.sidebar ul li {
    padding: 15px;
}

.sidebar ul li:hover {
    background-color: #E55807;
    transition: .5s;
}

#check:checked ~ .sidebar {
    left: 0;
    transition: .5s;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 400px;
    background-color: #ECF8F9;
}

.text-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-hero h1 {
    padding-top: 80px;
    padding-bottom: 35px;
    font-size: 42px;
    color: #068DA9;
}

.text-hero span {
    background-color: #068DA9;
    color: #ECF8F9;
    padding: 5px 10px;
    border-radius: 30px 0 30px 0;
}

.text-hero span:hover {
    background-color: #E55807;
    transition: .5s;
}
.text-hero p {
    color: #E55807;
}

.text-hero button {
    margin-top: 50px;
    padding: 4px 30px;
    background-color: #ECF8F9;
    border-color: #068DA9;
    cursor: pointer;
    border-radius: 6px;
}

.text-hero button:hover {
    background-color: #068DA9;
    color: #d4f0f5;
}
.text-hero button a {
    text-decoration: none;
    color: #E55807;
}

.text-hero button a:hover {
    color: #ECF8F9;
}

.image-hero img {
    width: 85%;
    height: auto;
    margin-top: 70px;
    border-radius: 12px;
    box-shadow: 0 3px 5px;
}

hr {
    border:0;
    margin: 20px 0;
    height:5px;
    background-image:linear-gradient(to right, rgba(60, 74, 234, 0), rgb(117, 117, 238), rgba(0, 0, 0, 0));
  }

#who {
    margin: 20px auto;
    width: 85%;
}

#who h2, h3 {
    color: #068DA9;
}

.who-title{
    text-align: center;
    padding-top: 30px;
}

.who-title h2 {
    font-size: xx-large;
    padding-bottom: 20px;
}
.who-title h4 {
    color: #E55807;
}

.servis h3 {
    color: #068DA9;
    font-size: 24px;
}
.servis ul li{
    color: #E55807;
}
aside {
    width: 50%;
    padding: 20px;
    margin: 10px;
    float: right;
    font-style: italic;
    background-color: #068DA9;
    color: #ECF8F9;
    border-radius: 12px;
  }

.title-work {
    padding: 30px;
    text-align: center;
}

#works {
    width: 80%;
    margin: 20px auto;
}

.title-work h2{
    padding-bottom: 20px;
    color: #068DA9;
    font-size: xx-large;
}

.work-container {
    background-color: #068DA9;
    border-radius: 15px;
    padding:40px;
    justify-content: center;
    width: 90%;
    display: grid;
    grid-template-columns: auto auto;
    gap: 25px;
}

.container {
    position: relative;
    width: 250px;
    background-color: #ECF8F9;
    border-radius: 12px;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
  }
  
  .container:hover .img {
    opacity: 0.6;
    transform: scaleX(1.2);
    transition: 0.3s;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: #E55807;
    color: white;
    font-size: 10px;
    padding: 1px 12px;
    text-align: center;
    line-height: 1rem;
  }
  
  #connect {
    margin: 50px auto;
    padding: 30px;
    border-radius: 15px;
    background-color: #d4f0f5;
    width: 80%;
    display: grid;
    grid-template-columns: auto auto;
  }

  .left-connect {
    margin-top: 30px;
    padding-left: 40px;
    float: left;
    border-right:2px solid #8bcbd8;
  }
.title-form h2 {
    color: #068DA9;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: xx-large;
}

input, textarea, submit{
    padding: 12px;
    width: 70%;
    margin-top: 20px;
    border-radius: 8px;
    border-color: #ECF8F9;
}

form ::placeholder {
    color: #068DA9;
}

input::after {
    padding-top: 20px;
}

.submit {
    background-color: #068DA9;
    color: #d4f0f5;
    border-color: #068DA9;
    border-radius: 8px;
    cursor: pointer;
}

.submit:hover {
    background-color: #d4f0f5;
    color: #068DA9;
}


.right-connect {
    padding-left: 40px;
    margin-top: 30px;
    float: right;
}

.social-media ul {
    margin-top: 20px;
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto;
}

.social-media h2 {
    padding-top: 30px;
    font-size: xx-large;
    color: #068DA9;
}

.address h2 {
    padding-top: 30px;
    font-size: xx-large;
    color: #068DA9;
}

.call h2 {
    padding-top: 30px;
    font-size: xx-large;
    color: #068DA9;
}

.social-media ul li img {
    width: 60px;
    height: auto;
}

.address {
    padding-top: 50px;
}

.call {
    padding-top: 50px;
}

footer {
    margin-top: 50px;
    background-color: #068DA9;
    height: 70px;
    width: 100%;
    text-align: center;
    border-top: 5px solid #E55807;
}

footer p {
    color: #d4f0f5;
    padding-top: 25px;
}

footer a {
    text-decoration: none;
    color: #d4f0f5;
}

@media screen and (max-width:675px){
    .mobile-menu {
        display: block;
    }

    nav ul {
        display: none;
    }

    #hero {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .text-hero {
        height: 300px;
        padding-top: 10px 0;
    }

    .text-hero button {
        margin-bottom: 30px;
    }

    .image-hero img {
        width: 100%;
        height: auto;
    }

    #who {
        margin-top: 300px;
    }

    #connect {
        display: grid;
        grid-template-columns: 100%;
        margin: 0 auto;
    }

    .left-connect {
        border-right:0 #8bcbd8;
      }

}

@media screen and (max-width:800px){
    .work-container {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;

    }
}